body {
	background-color:#8533ff;
}
h1 {
	font-size:0.4 * screen.width;
	color:black;
	font-family:"Times New Roman";
	text-align:center;
	font-variant:small-caps;
}
p {
	font-size:0.2 * screen.width;
	color:white;
	font-family:courier;
	text-align:center;
}
br {
    line-height: 150%;
}

a:link {
	font-size:0.2 * screen.width;
	font-family:courier;
    color:white;
    background-color:transparent;
    text-decoration:underline;
}
a:visited {
	font-size:0.2 * screen.width;
	font-family:courier;
    color:white;
    background-color:transparent;
    text-decoration:underline;
}
a:hover {
	font-size:0.2 * screen.width;
	font-family:courier;
    color:white;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
	font-size:0.2 * screen.width;
	font-family:courier;
    color:red;
    background-color:transparent;
    text-decoration:underline;
}
