body {
	background-color:white;
}
h1 {
	font-size:0.4 * screen.width;
    color:black;
    font-family:"Times New Roman";
	font-variant:small-caps;
}
h2 {
    font-size:0.25 * screen.width;
    color:black;
    font-family:"Times New Roman";
    font-variant:small-caps;
}
p {
	font-size:0.20 * screen.width;
    color:black;
    font-family:"Times New Roman";
}
br {
    line-height: 150%;
}

.sidebar {
    height:100%; /* Full-height: remove this if you want "auto" height */
    width:160px; /* Set the width of the sidebar */
    position:fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index:1; /* Stay on top */
    top:0; /* Stay at the top */
    left:0;
    background-color:#8533ff; /* Black */
    overflow-x:hidden; /* Disable horizontal scroll */
    padding-top:20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    font-size:0.2 * screen.width;
    font-family:courier;
    color:white;
    background-color:transparent;
    text-decoration:underline;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
